<input class="menu-toggler" type="checkbox" id="menu-toggler"/>
<label class="hamb" for="menu-toggler">
  <span class="hamb-line"></span>
</label>

<ul>
  <li class="active"><a href="/home">Home</a> </li>
  <li><a [matMenuTriggerFor]="clientsMenu">Clients</a> </li>
  <li><a href="/clients">Contractors</a> </li>
  <li><a href="/clients">Services</a> </li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/about">About</a></li>
  <button mat-raised-button color="primary">Get started</button>


  <mat-menu #clientsMenu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
</ul>