footer {
  color: var(--white);

  > .footer-section {
    background-color: var(--blue);
    padding-top: 30px;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    > div {
      width: 80vw;
      min-height: 10vh;
      flex: 3;
      > div {
        display: flex;
      }
    }
  }

  .footer-center {
    background-color: var(--blue);
    width: 100%;
    height: 80px;
    display: table;
    text-align: center;

    p {
      vertical-align: middle;
      display: table-cell;
    }
  }
}
